@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Основной стиль для body */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0e0e0e;
    color: #00ffc6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Стиль для меню */
.menu-container {
    background: rgba(25, 25, 25, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #00ffcc, 0 0 30px #005566;
    text-align: center;
    width: 400px;
}

.menu-container h1 {
    margin: 0 0 20px;
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #005566;
}

/* Стили для input и button только внутри меню */
.menu-container input, .menu-container button {
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background-color: #0e0e0e;
    color: #00ffcc;
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #005566;
    transition: all 0.2s ease-in-out;
}

.menu-container input::placeholder {
    color: #00ffccaa;
}

.menu-container button {
    background-color: #005566;
    color: #ffffff;
    cursor: pointer;
}

.menu-container button:hover {
    background-color: #00ffcc;
    color: #0e0e0e;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #005566;
}

/* Стиль для стартового экрана */
.start-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(25, 25, 25, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #00ffcc, 0 0 30px #005566;
    text-align: center;
    width: 400px;
}

.start-screen-container h1 {
    margin-bottom: 20px;
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #005566;
}

.start-screen-container button {
    background-color: #005566;
    color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #005566;
    transition: all 0.2s ease-in-out;
}

.start-screen-container button:hover {
    background-color: #00ffcc;
    color: #0e0e0e;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #005566;
}

/* Специфический стиль для #toggleMusic */
#toggleMusic {
    background-color: #005566;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #005566;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

#toggleMusic:hover {
    background-color: #00ffcc;
    color: #0e0e0e;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #005566;
}
